# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
myenv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Large dataset files (optional)
*.csv
*.h5
*.pkl
*.pt
*.pth

# OpenCV temporary
*.jpeg

# Google Colab temp
/content/